@font-face
  /*Téléchargement de la police Raleway*/
    {
    font-family: 'Raleway';
    src: url('font/static/Raleway-Regular.ttf.ttf'),
        url('/font/static/Raleway-RegularItalic.ttf'), url('font/Raleway-VariableFont_wght.ttf'), url('font/Raleway-Italic-VariableFont_wght.ttf')
}

body {
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}

/*General*/
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-left: 50px; ;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: large;
}

h2{
    font-size: medium;
}

p {
    font-size: small;
}

h3 {
    font-weight: bold;
}

/* Header*/

#logo{
    margin-left: 10px;
    height: 100px;
    width: 150px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.headernavlink {
    padding-top: 30px;
}

/*Navigation*/

.fas {
    color: #0065fc;
}

.navigation {
    display: flex;
}

nav a {
    font-size: 16px;
    color: black;
    padding-top: 3px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}

header nav a {
    margin-left: 20px;
}
header nav .headernavlink1:hover,header nav .headernavlink2:hover{
    border-top: 3px solid #0065FC;
    padding-top: 30px;
}

header nav {
    display: flex;
    align-items: center;
}
.hebergements-activites a{
   margin-right: 40px;
}

.headersignup {
    color: #0065FC;
    font-weight: bold;
    margin-right: 10px;
}
.headersignup a:hover{
    text-decoration: none;
    border-top: none;
}

::placeholder{
    color: black;
    font-weight: bolder;
    padding-left: 10px;
}

/*Titre principal*/

.header_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.titre_principal {
    display: flex;
    flex-direction: column;
}

.titre_trouvez h1 {
    font-size: 20px;
    margin-bottom: 10px;
   
}

.titre_enplein p{
    font-size: 15px;
    margin-left: 2px;
    font-weight: lighter;
    
}

/*Barre de recherche*/

.gps-logo {
    position: relative;
    height: 40px;
    background-color: #F2F2F2;
    width: 54px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.fa-map-marker-alt {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-section {
    display: flex;
    height: 40px;
    margin-top: 15px;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
}

.rechercher {
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
}
input{
    border:none;
    width: 200px;
}
.search-bar{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
}
#rechercher_texte{
    margin-left: 10px;
    margin-right: 10px;
}

.rechercher_loupe {
    display: none;
}


/*Filtres*/

#filtres-section {
    display: flex;
    align-items: center;
    margin: 32px 0px 41px 0px;
}


.filtre-bouton {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25px;
    flex-wrap: wrap;

}

.circle-icon-filter {
    width: 50px;
    height: 51.5px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5px;
    left: 1px;
}

.filtre {
    display: flex;
    flex-wrap: wrap;
}

.filtre p {
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    padding: 0px 25px 0px 65px;
    border-radius: 30px;
    font-weight: bold;
}

.titre_filtres p {
    font-weight: bold;
}

.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
    color: #0065FC;
    font-size: 18px;
}


h3 {
    font-size: medium;
    font-weight: normal;
}

.nombre_logements {
    margin: 0px 0px 35px 17px;
}

.filtre-bouton:hover {
    text-decoration: underline;
    color: #0065FC;
}

.partie_info{
 display: flex;
 align-items: baseline;
      
}

.partie_info h3{
    font-size: 20px;
}

.fas.fa-info{
    
    margin-right: 0px;
    color: #0065FC;
    font-size: 15px;
    border: 2px solid #F2F2F2;
    padding: 5px 8px 6px 9px;
    border-radius: 40px;
    margin-left: 30px;
    }
    


/*Hébergements à Marseille*/

#hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-bottom: 56px;
}

.titre_hebergements_a_marseille {
    margin: 0px;
    font-size: large;
    margin-bottom: 21px;
}

#hebergements_a_marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 44px 36px 44px 36px;
    width: 805px;
}

.container_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.box_carte {
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    width: 236px;
    margin-bottom: 28px;

}

.hebergement_image {
    padding-left: 5px;
    padding-right: 5px;
}

.photo_hebergement {
    object-fit: cover;
    width: 236px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hebergement_contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;
}

.titre_contenu {
    padding-top: 11px;
    padding-bottom: 11px;
}

.prix_contenu {
    padding-bottom: 11px;
}

.hebergement_notation {
    padding-bottom: 11px;
}

.hebergement_contenu h3,
.hebergement_populaire_contenu h3 {
    font-weight: bold;
    font-style: normal;
    
}

.hebergement_montrer_plus p{
    font-weight: bold;
    font-size: 20px;
}

.fas.fa-star.grey-star {
    color: grey;
}

/*Les plus populaires*/


.titre_les_plus_populaires {
    display: flex;
    justify-content: space-between;
    font-size: large;
    margin-bottom: 25px;
}

.fa-chart-line {
    color: black;
    margin-left:150px;
}

#container_hebergements_populaires {
    background-color: #f2f2f2;    
    border-radius: 20px;
    padding: 45px 38px 31px 45px;
    
}

.hebergement_les_plus_populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box_populaire_carte {
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    background-color: white;
    padding: 6px 58px 6px 6px;
    width: 300px;
    max-height: 400px;
    margin-bottom: 29px;
}

.photo_populaire {
    width: 120px;
    height: 132px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.hebergement_populaire_contenu {
    padding: 7px 0px 7px 8px;
    display: flex;
    flex-direction: column;
}

.titre_populaire_contenu {
    padding-bottom: 14px;
}

.prix_populaire_contenu {
    padding-bottom: 30px;
}

.hebergement_notation_populaire {
   width: 94px;
   height: 15px;
}

/*Activités à Marseille*/

#Activités_à_Marseille {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    max-width: 1350px;
}

.titre_activites {
    margin-bottom: 27px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
    
}

#Activités_à_Marseille h2{
    margin-left: 15px;
}

.activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activite2et3,
.activite5et6 {
    display: flex;
    flex-direction: column;
}

.activite1,
.activite2,
.activite3,
.activite4,
.activite5,
.activite6 {
    box-shadow: 0 0 20px #0000002e;
    background:#FFFFFF;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}



.photo_activite11,
.photo_activite22,
.photo_activite33,
.photo_activite44,
.photo_activite55,
.photo_activite66 {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 25px 0px;
}

.photo_activite11,
.photo_activite44 {
    width: 301px;
    height: 390px;
}

.photo_activite22 {
    width: 304px;
    height: 183px;
}

.photo_activite33 {
    width: 304px;
    height: 112px;
}

.photo_activite55 {
    width: 304px;
    height: 141px;
}

.photo_activite66 {
    width: 304px;
    height: 155px;
}

#Activités_à_Marseille h1 {
    font-size: large;
}

#Activités_à_Marseille h2 {
    font-size: medium;
}

/*Footer*/
footer {
    max-width: 1350px;
    padding: 48px 20px 51px 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.titre_apropos {
    padding-bottom: 22px;
}

.a_propos {
    display: flex;
    flex-direction: column;
}

.titre_noshebergements {
    margin-bottom: 22px;
}

.nos_hebergements {
    display: flex;
    flex-direction: column;
}

.titre_assistance {
    padding-bottom: 22px;
}

.assistance {
    display: flex;
    flex-direction: column;
    margin-right: 300px;
}

footer h4 {
    font-weight: normal;
}

footer h2 {
    font-size: large;
}

/*Responsive*/
@media all and (min-width: 1850px) and (max-width: 2000px){
    html
    {margin-left: 250px;
     margin-right: 300px;
    }
}




@media all and (min-width: 485px) and (max-width: 1849px){
        /*partie hearder et nav*/
    

    .container{
        width: 100%;
        margin: 0px;
    }
   

    header {
        position: relative;
        margin-bottom: 50px;
    }


   

    #logo{
        margin-bottom: 20px;
        margin-left: 15px;
    }


    .headersignup{
        margin-bottom: 20px;
        margin-right: 15px;

    }

    .titre_trouvez{
        margin-left: 50px;
    }

    .titre_enplein p{
        font-size: 18px;
        font-weight:lighter;
        margin-left: 50px;
    }


    .hebergements-activites {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;     
        border-bottom: 3px solid #F2F2F2;
   
              
    }

    header nav a:hover{
        text-decoration: none;
        }  
    
    .headernavlink1,.headernavlink2{
        display: flex;
        justify-content: center;        
        width: 100%;
        margin: 0px;                             
    }
    
    header nav .headernavlink1:hover,header nav .headernavlink2:hover{
            
        border-top: none;
        padding-top: 39px;          
        border-bottom: 3px solid #0065FC;
        padding-bottom: 15px;
        margin-bottom: 13px;   
    }
    
    

    /* partie searchbar */
    .search{
        height: 30px;
    }

    .rechercher {
        display: none;
    }

    .rechercher_loupe {
        display:unset;
        width: 50px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 10px 10px 10px 10px;
        
    }
     
    input{
        border: none;
        width: 220px;
    }

    ::placeholder{
        font-size: 17px;
    }

    #search-section{
        border: 1px solid #F2F2F2;
        margin-right: 200px;
        margin-left: 50px;
        height: 50px;
        width: 300px;
        border-radius: 15px 0px 0px 30px  ;
    }

    .gps-logo{
        height: 50px;
    }


    .rechercher_loupe .fas {
        color: white;
    }
    /* partie filtres */

    .titre_filtres{
        margin-bottom: 10px;
        margin-left: 30px;       
    }
    #filtres-section {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #filtres-section p{
        font-size: 16px;

    }    
    .filtre-bouton{
        margin-bottom: 15px;
    }
          
    .nombre_logements{
        font-size: 18px;
        margin-left: 15px;
    }

    

    .ville500{
        text-align: center;
        width: 20px;

    }

        /* partie populaires */

    #container_hebergements_populaires{
        width: 100%;  
        border-radius: 0px;                
    }

    .titre_les_plus_populaires {
        font-size: 20px;
        margin-bottom: 25px;
    }
    

    .box_populaire_carte{
        width: 99% ;
        height: 100%;
        justify-content: center;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
    }

    .photo_populaire{
        width: 99%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        height: 200px;
    }

    .hebergement_les_plus_populaires h3{
        font-size: 18px;
    }      

    .hebergement_les_plus_populaires p{
        font-size: 18px;
    }

    .hebergement_les_plus_populaires {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            
        }
    /* partie hebergement */


    
       
    .container_item{
        display: block;
        flex-direction: column;
        width: 100%;
        
    }

    .box_carte{
        display: block; 
        width: 99%;      
        box-shadow: 0 0 20px #0000002e;
        background:#FFFFFF;
        padding: 0px 0px 1px 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;  
    } 

    .photo_hebergement{
            width: 98.5%;
            height: 200px;
            padding: 5px 5px 0px 5px;
            object-position: center;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
    }

    #hebergements_a_marseille {
        

        background: transparent;
        width: 100%;
        align-items: flex-start;
        
    }
    
    .box_carte h3{
        font-size: 18px;
    }

    .box_carte p{
        font-size: 16px;
    }

    #hebergements_a_marseille {       

        background: transparent;
        width: 100%;
        align-items: flex-start;
        margin-left: 8px;
        
    }
   

    /* partie activités */
    

    .hebergements-activites {
        display: flex;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 10px;
        height: 40px;
        align-items: center;       
        
    }

    .hebergements-activites a{
        margin: 0px;
    }


    #Activités_à_Marseille {
        margin-left: 45px;
    }

    .titre_activites  {
        font-size: 20px;
        font-weight: bold;
        padding-left: 3px;
    }
    
    .photo_activite11,
    .photo_activite22,
    .photo_activite33,
    .photo_activite44,
    .photo_activite55,
    .photo_activite66 {
        width: 100%;
        height: 200px;
    }

    .activite1,
    .activite2,
    .activite3,
    .activite4,
    .activite5,
    .activite6 {
        width: 96%;
        height: 250px;
        margin-right: 20px;
    }

        

    .activites {
        display: flex;
        flex-direction: column;
    }


    /* partie footer */                 
          
    footer{
        display: flex;
        flex-direction: column;
    }
     
    .nos_hebergements,
    .assistance{
        margin-top: 50px;
    }
    .petit_texte_footer{
        padding-left: 10px;
    }
}

@media all and (max-width:484px){
     /*partie hearder et nav*/

        
      .container{
         width: 100%;
         margin: 0px;
         zoom: 75%;
    }

    
    header {
        position: relative;
        margin-bottom: 50px;
    }


    

    #logo{
        margin-bottom: 20px;
        margin-left: 15px;
    }


    .headersignup{
        margin-bottom: 20px;
        margin-right: 25px;
        font-size: 20px;

    }

    .titre_trouvez{
        margin-left: 50px;
        width: 85%;        
    }

    .titre_trouvez h1{
         font-size: 25px;
    }

    .titre_enplein p{
        font-size: 18px;
        font-weight:lighter;
        margin-left: 50px;
        font-size: 20px;
    }


    .hebergements-activites {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;     
        border-bottom: 3px solid #F2F2F2;
        display: flex;
                      
    }

    .hebergements-activites a{
        margin-right: 0px;
        font-size: 25px;
        margin-bottom: 19px;
    }

    header nav a:hover{
        text-decoration: none;
        }  
    
    .headernavlink1,.headernavlink2{
        display: flex;
        justify-content: center;        
        width: 100%;
        margin: 0px;                             
    }
    
    header nav .headernavlink1:hover,header nav .headernavlink2:hover{
            
        border-top: none;
        padding-top: 0px;          
        border-bottom: 3px solid #0065FC;
        padding-bottom: 0px;
        margin-bottom: -3px;   
    }
        
 
     /* partie searchbar */
    .search{
        height: 30px;
    }
 
    .rechercher {
        display: none;
    }
 
    .rechercher_loupe {
        display:unset;
        width: 60px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 15px 15px 15px 15px;
        
    }
     
    input{
        border: none;
        width: 300px;
    }

    ::placeholder{
        font-size: 20px;
        padding-left: 30px;
    }

    #search-section{
        border: 1px solid #F2F2F2;
        margin-left: 10%;
        height: 60px;
        width: 414px;
        border-radius: 15px 15px 15px 15px  ;
    }

    .gps-logo{
        height: 60px;
    }


    .rechercher_loupe .fas {
        color: white;
    }
    /* partie filtres */

    .titre_filtres h2{
        margin-bottom: 10px;
        margin-left: 15px;  
        font-size: 25px;     
    }
    #filtres-section {
        margin-left: 35px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 92%    
        ;
    }

    #filtres-section p{
        font-size: 25px;

    }    
    .filtre-bouton{
        margin-bottom: 15px;
    }
          
    .partie_info{
        width: 90%;
        padding-top: 10px;

    }

    .nombre_logements{
        margin: 0px 0px 60px 1px;
    }
    .partie_info h3{
        font-size: 23px;
    }
    
        /* partie populaires */

        .titre_les_plus_populaires {
            display: flex;
            justify-content: space-between;
            font-size: 28px;
            margin-bottom: 25px;
            font-weight: bolder;
        }
        
        .titre_les_plus_populaires .fas{ 
            color: black;
            padding-right: 50px;
         }


        #hebergement{
            width: 100%;
            margin:0px;
            padding:0px;
        }

        #container_hebergements_populaires {
            background-color: #f2f2f2;    
            border-radius: 0px;            
            margin: 0px;
            width: 95%;  
            padding-right: 0px;   
            margin-right: 0px;       
        }
        
        .hebergement_les_plus_populaires {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        

        .box_populaire_carte {
            display: flex;
            flex-direction: row;
            border: 3px solid white;
            border-radius: 20px;
            display: flex;
            background-color: white;
            padding: 6px 58px 6px 6px;
            width: 78%;
            max-height: 200px;
            margin-bottom: 29px;
        }
        
        .photo_populaire {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .photo_populaire3{
            width: 250px;
        }
        
        .hebergement_populaire_contenu {
            padding: 7px 0px 7px 8px;
            display: flex;
            flex-direction: column;
        }
        .titre_populaire_contenu h3{        
            font-size: 22px;
            width: 120%;
        }

        .prix_populaire_contenu p{
            font-size: 20px;
            width:110%;
        }

        .titre_populaire_contenu {
            padding-bottom: 5px;            
            margin-left: 10px;
        }
        
        .prix_populaire_contenu {
            padding-bottom: 30px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        
        .hebergement_notation_populaire {
            width: 100%;
            margin-left: 10px;
            padding-top: 40px;
            
        }

        

        .hebergement_notation_populaire i,.hebergement_notation .fas{
            zoom: 140%;
            
        }   
         /* partie hebergement */

    .titre_hebergements_a_marseille{
        font-size: 30px;
        width: 100%;

    }

    #hebergements_a_marseille {
        

        background: transparent;
        width: 100%;
        align-items: flex-start;
        
    }     

    .container_item{
        display: block;
        flex-direction: column;
        width: 100%;
    }

    .box_carte{
        display: block; 
        width: 98%;      
        box-shadow: 0 0 20px #0000002e;
        background:#FFFFFF;
        padding: 0px 0px 1px 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;  
    } 

    .photo_hebergement{
            width: 98%;
            height: 200px;
            padding: 5px 5px 0px 5px;
            object-position: center;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
    }

    
    
    .box_carte h3{
        font-size: 25px;
    }

    .box_carte p{
        font-size: 23px;
    }

    
   
    .hebergement_montrer_plus p{
        font-size: 25px;
    }

    /* partie activités */
       
    #Activités_à_Marseille {
        margin-left: 60px;
        width: 80%;
    }

    .titre_activites  {
        font-size: 30px;
        font-weight: bold;
        padding-left: 3px;
    }
    
    .photo_activite11,
    .photo_activite22,
    .photo_activite33,
    .photo_activite44,
    .photo_activite55,
    .photo_activite66 {
        width: 100%;
        height: 200px;
    }

    .activite1,
    .activite2,
    .activite3,
    .activite4,
    .activite5,
    .activite6 {
        width: 100%;
        height: 260px;
        
    }

    #Activités_à_Marseille h2{
        font-size: 25px;
    }    

    .activites {
        display: flex;
        flex-direction: column;
       width: 98%;
       margin-right: 0px;
    }


    /* partie footer */                 
          
    footer{
        display: flex;
        flex-direction: column;
        width: 87%;
    }
    footer h2{
        font-size: 30px;
    }

    footer h4{
        font-size:25px        
    }
    .nos_hebergements,
    .assistance, .a_propos{
        margin-top: 5px;
        width: 80% ;
        margin-bottom: 50px;
    }


    .petit_texte_footer h4{
        padding-left: 10px;
        width:450px
        ;
    }
}


@media all and (max-width:370px) {

        /*partie hearder et nav*/

        
        .container{
            width: 100%;
            margin: 0px;
            zoom: 60%;
       }
   
       
       header {
           position: relative;
           margin-bottom: 50px;
       }
   
   
       
   
       #logo{
           margin-bottom: 20px;
           margin-left: 15px;
       }
   
   
       .headersignup{
           margin-bottom: 20px;
           margin-right: 25px;
           font-size: 20px;
   
       }
   
       .titre_trouvez{
           margin-left: 50px;
           width: 85%;        
       }
   
       .titre_trouvez h1{
            font-size: 25px;
       }
   
       .titre_enplein p{
           font-size: 18px;
           font-weight:lighter;
           margin-left: 50px;
           font-size: 20px;
       }
   
   
       .hebergements-activites {
           position: absolute;
           bottom: 0;
           left: 0;
           width: 100%;     
           border-bottom: 3px solid #F2F2F2;
           display: flex;
                         
       }
   
       .hebergements-activites a{
           margin-right: 0px;
           font-size: 25px;
           margin-bottom: 19px;
       }
   
       header nav a:hover{
           text-decoration: none;
           }  
       
       .headernavlink1,.headernavlink2{
           display: flex;
           justify-content: center;        
           width: 100%;
           margin: 0px;                             
       }
       
       header nav .headernavlink1:hover,header nav .headernavlink2:hover{
               
           border-top: none;
           padding-top: 0px;          
           border-bottom: 3px solid #0065FC;
           padding-bottom: 0px;
           margin-bottom: -3px;   
       }
           
    
        /* partie searchbar */
       .search{
           height: 30px;
       }
    
       .rechercher {
           display: none;
       }
    
       .rechercher_loupe {
           display:unset;
           width: 60px;
           background-color: #0065FC;
           color: white;
           font-weight: bold;
           border: none;
           border-radius: 15px 15px 15px 15px;
           
       }
        
       input{
           border: none;
           width: 300px;
       }
   
       ::placeholder{
           font-size: 20px;
           padding-left: 30px;
       }
   
       #search-section{
           border: 1px solid #F2F2F2;
           margin-left: 10%;
           height: 60px;
           width: 414px;
           border-radius: 15px 15px 15px 15px  ;
       }
   
       .gps-logo{
           height: 60px;
       }
   
   
       .rechercher_loupe .fas {
           color: white;
       }
       /* partie filtres */
   
       .titre_filtres h2{
           margin-bottom: 10px;
           margin-left: 15px;  
           font-size: 25px;     
       }
       #filtres-section {
           margin-left: 35px;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           flex-wrap: wrap;
           width: 92%    
           ;
       }
   
       #filtres-section p{
           font-size: 25px;
   
       }    
       .filtre-bouton{
           margin-bottom: 15px;
       }
             
       .partie_info{
           width: 95%;
           padding-top: 10px;
   
       }
   
       .nombre_logements{
           margin: 0px 0px 60px 1px;
       }
       .partie_info h3{
           font-size: 23px;
       }
       
           /* partie populaires */
   
           .titre_les_plus_populaires {
               display: flex;
               justify-content: space-between;
               font-size: 28px;
               margin-bottom: 25px;
               font-weight: bolder;
           }
           
           .titre_les_plus_populaires .fas{ 
               color: black;
               padding-right: 50px;
            }
   
   
           #hebergement{
               width: 100%;
               margin:0px;
               padding:0px;
           }
   
           #container_hebergements_populaires {
               background-color: #f2f2f2;    
               border-radius: 0px;            
               margin: 0px;
               width: 95%;  
               padding-right: 0px;   
               margin-right: 0px;       
           }
           
           .hebergement_les_plus_populaires {
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
           }
           
   
           .box_populaire_carte {
               display: flex;
               flex-direction: row;
               border: 3px solid white;
               border-radius: 20px;
               display: flex;
               background-color: white;
               padding: 6px 58px 6px 6px;
               width: 78%;
               max-height: 200px;
               margin-bottom: 29px;
           }
           
           .photo_populaire {
               width: 200px;
               height: 200px;
               object-fit: cover;
               border-top-left-radius: 10px;
               border-bottom-left-radius: 10px;
           }
           .photo_populaire3{
               width: 60%;
               height: 200px;
           }
           
           .hebergement_populaire_contenu {
               padding: 7px 0px 7px 8px;
               display: flex;
               flex-direction: column;
           }
           .titre_populaire_contenu h3{        
               font-size: 22px;
               width: 120%;
           }
           
           .prix_populaire_contenu{
            height: 0%
            ;
           }
           .prix_populaire_contenu p{
               font-size: 20px;
               width:110%;
           }
   
           .titre_populaire_contenu {
               padding-bottom: 5px;            
               margin-left: 10px;
           }
           
           .prix_populaire_contenu {
               padding-bottom: 30px;
               margin-left: 10px;
               margin-bottom: 10px;
           }
           
           .hebergement_notation_populaire {
               width: 70%;
               margin-left: 10px;               
               padding-top: 25%;
           }
           
           .hebergement_notation_populaire i,.hebergement_notation .fas{
               zoom: 140%;
               
           }   
            /* partie hebergement */
   
       .titre_hebergements_a_marseille{
           font-size: 30px;
           width: 100%;
   
       }
   
       #hebergements_a_marseille {
           
   
           background: transparent;
           width: 100%;
           align-items: flex-start;
           
       }     
   
       .container_item{
           display: block;
           flex-direction: column;
           width: 100%;
       }
   
       .box_carte{
           display: block; 
           width: 98%;      
           box-shadow: 0 0 20px #0000002e;
           background:#FFFFFF;
           padding: 0px 0px 1px 0px;
           border-top-left-radius: 20px;
           border-top-right-radius: 20px;  
       } 
   
       .photo_hebergement{
               width: 98%;
               height: 200px;
               padding: 5px 5px 0px 5px;
               object-position: center;
               border-top-left-radius: 20px;
               border-top-right-radius: 20px;
       }
   
       
       
       .box_carte h3{
           font-size: 25px;
       }
   
       .box_carte p{
           font-size: 23px;
       }
   
       
      
       .hebergement_montrer_plus p{
           font-size: 25px;
       }
   
       /* partie activités */
          
       #Activités_à_Marseille {
           margin-left: 60px;
           width: 80%;
       }
   
       .titre_activites  {
           font-size: 30px;
           font-weight: bold;
           padding-left: 3px;
       }
       
       .photo_activite11,
       .photo_activite22,
       .photo_activite33,
       .photo_activite44,
       .photo_activite55,
       .photo_activite66 {
           width: 100%;
           height: 200px;
       }
   
       .activite1,
       .activite2,
       .activite3,
       .activite4,
       .activite5,
       .activite6 {
           width: 100%;
           height: 260px;
           
       }
   
       #Activités_à_Marseille h2{
           font-size: 25px;
       }    
   
       .activites {
           display: flex;
           flex-direction: column;
          width: 98%;
          margin-right: 0px;
       }
   
   
       /* partie footer */                 
             
       footer{
           display: flex;
           flex-direction: column;
           width: 87%;
       }
       footer h2{
           font-size: 30px;
       }
   
       footer h4{
           font-size:25px        
       }
       .nos_hebergements,
       .assistance, .a_propos{
           margin-top: 5px;
           width: 80% ;
           margin-bottom: 50px;
       }
   
   
       .petit_texte_footer h4{
           padding-left: 10px;
           width:450px
           ;
       }
   
}


