@font-face   /*Téléchargement de Raleway par le navigateur*/
    {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf'), url('font/Raleway-Italic-VariableFont_wght.ttf'),
    url('font/static/Raleway-Black.ttf'),url('font/static/Raleway-Bold.ttf') ,url('font/static/Raleway-BlackItalic.ttf');
    }

* {
    font-family: 'Raleway';
    font-size: 16px;
}


/* réglage générale */
ul
{
    list-style-type: none;
}

a 
{
    text-decoration:none;
    color: inherit;
}


.fas
{
    color:#0065fc;
}

#gris
{
    color:#c9c5c5
}

body
{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1380px;
        
}

h1
{
    font-size:30px;
    font-family: 'Raleway';
    font-weight: 900;
}

h2
{
    font-size: 20px;
}

strong
{
    font-weight: bolder;
}
/* mise en place header/navbar */

#navbar
{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between ;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 10px;    
    
}

#logo
{
    display: flex;
    width: 100px;
   
}

#navbar ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    
    
}
#nav_droite
{
    display: flex;
    align-items: center;
    font-weight: 500;
    
    
}

#barre_deco
{
    align-items: center;
    width: 500px;
    color: #0065fc;
    border-top: 4px solid #0065fc;
    padding: 23px 20px 0px 20px;
}

#nav_droite a:hover
{
    border-bottom: 2px solid #0065fc;
}


#nav_activ
{
    padding-left: 60px;
    padding-right: 70px;
    border-top: 4px transparent #0065fc;
    
}

#nav_droite #inscrire
{
    color: #0065fc;
    font-weight: 700;
}

    
} 
#nav
{
    border-top: 3px solid ;
    border-color:#0065FC ;
    color: #0065fc;
    width: 50px;    
    padding-top: 23px;
    
} 


/* partie titre  */


#entete
{
    display:flex ;
    flex-direction: column;
}

.titre h1
{
   margin-left: 5px;
   margin-bottom: 0px;
   padding-bottom: 0px;
}

.titre p
{
    margin-top:5px;
    margin-bottom: 17px;
}
 
/* partie search bar */



.search_bar
{
    display:flex;
    
}

.icon_near
{
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 20px;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.icon_near .fas
{
    color: black;
}

.imput_section
{
    border: 1.5px solid #f2f2f2;
    padding-right: 40px;
}

::placeholder
{
padding-left:20px ;
}

button
{
    background-color: #0065FC;
    color: white;
    font-family: "Raleway","verdana";
    font-weight: 900;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border:1.5px solid #0065FC;
    color: white;
}

/* partie filtres */

#filtres_section
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    
}

.titre_filtres
{
    margin-right: 15px;
}

#filtres
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;

}

.selection_filtre
{
    display: flex;
    align-items: center;
    margin-left: 30px;
    border:2px solid #d9d9d9;
    border-radius: 2rem;
    

}

.filtre_icon
{
    background:#DEEBFF ;
    border:#DEEBFF 20px solid;
    border-radius: 100%;
    margin-right: 10px;    
}

#filtres p
{
    margin-right: 20px;
    font-weight: 900;
}


/* section info et partie hebergement marseille */

#hebergement_populaires
{
    display: flex;
    ;
}

#info500 p
{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#info500 .fas
{
    margin-right: 15px;
    align-items: center;

}

#hebergements
{
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
    justify-content: space-between;
    background: #f2f2f2;
    border-radius:20px ;
    margin-bottom: 60px;
    margin-right: 70px;
    
}

#hebergements h2 
{
    font-size: 25px;
    padding-left: 30px;
    padding-bottom: 5px;
}
#hebergements h4
{
    font-size: 20px;
    padding-left: 30px;
     
}

#carte_gauche
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#carte_gauche_haut 
{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 30px;
    
  
}

#carte_gauche_bas
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    
}

.cartes
{
    margin-right: 40px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    width: 236px;
    height: 180px;    
    box-shadow: 0px 0px 16px #0000002e;
}

.notation 
{
    display: flex;
    flex-direction: row;
    margin-right: 2px;
}
.notation .fas
{
    
    margin-right: 3px;
}

.cartes:hover
{
transform: scale(1.03); 
}

.images_hebergements {
    height: 120px;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.backtitre h3
{
    padding-bottom: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.backtitre p
{
    padding-bottom: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* partie populaires */

#titre_populaires
{
    display: flex;
    flex-direction:row ;
    align-items: center ;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}


.cartes_pop
{
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    background-color: white;
    padding: 5px 80px 5px 5px;
    width: 280px;
    height: 130px;
    margin-bottom: 23px;    
    box-shadow: 0px 0px 16px #0000002e; 
     
}

.backtitre
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.images_pop
{
    object-fit: cover;
    width: 120px;
    height: 130px;
    border-top-left-radius: 10px;     
    border-bottom-left-radius: 10px;
    
}
#populaires
{
    display: flex;
    flex-direction:column ;
    align-items:  ;
    
    background: #f2f2f2;
    border-radius:20px;
    height: 590px;
    padding-left: 50px ;
    padding-right: 50px;
}

/* Activité à marseille */
